RewriteEngine On

# Apache's own requests can crash caches. See http://inventivelabs.com.au/weblog/post/apache-s-internal-dummy-connection
RewriteCond %{HTTP_USER_AGENT} ^.*internal\ dummy\ connection.*$ [NC]
RewriteRule .* - [F,L]

# If we have redirected and get here again, there's something wrong
RewriteCond %{ENV:REDIRECT_REDIRECTED} ^TRUE$
RewriteRule .* - [F,L]

# Reroute to setup or superadminarea if URL points exactly to this folder with no extra URL-appendices
RewriteCond %{SERVER_NAME} ^127.0.0.1$ [OR]
RewriteCond %{SERVER_NAME} ^localhost$ [NC]
RewriteRule .* vhosts/127.0.0.1/httpdocs/$0 [E=REDIRECTED:TRUE,L]
