<html>
    <head>
        <title>Peuterspeelzaal De Kleine Prinses</title>
        <link rel="stylesheet" href="static/css/reset.css" type="text/css"/>
        <link rel="stylesheet" href="static/css/style.css" type="text/css"/>
    </head>

    <body>
        <div id="container">
            <div id="header">
                <div id="images">
                    <img src="static/images/logo.png"/>
                </div>
                <div id="navigation">
                    <ul>
                        <li>
                            Welkom
                            <ul>
                                <li>
                                    Nieuwsoverzicht
                                </li>
                                <li>
                                    Foto's
                                </li>
                                <li>
                                    Documenten
                                </li>
                            </ul>
                        </li>
                        <li>
                            Over
                        </li>
                        <li>
                            Groepen
                        </li>
                        <li>
                            Contact
                        </li>
                    </ul>
                    <div class="floatfix">.</div>
                </div>  
            </div>
            <div id="content" class="mediumpadding">
                hai :)
            </div>
        </div>
    </body>
</html>