
	/* Style by Fabrica Sapiens */

    /*
    /----------------------------------------------------
    / General definitions
    /----------------------------------------------------
    */
	html {  }
	body { font: 13px verdana, arial, verdana; color: #000; background: #22242b; }
	html, body { margin: 0px; padding: 0px; }
	
	.color1 { color: #ffaf25; } /* yellow */
	.color2 { color: #383a49; } /* grey blue */
	.color3 { color: #6d6f71; } /* grey */
	
	a { color: #1891ff; }
	
	p, form, ul, ol { padding-bottom: 15px; }
	
	h1 { font-size: 24px; font-weight: bold; margin-bottom: 10px; color: #383a49; }
	h2 { font-size: 14px; margin-bottom: 5px; color:#383a49; }
	
	.floatfix { font-size: 1px; visbility:hidden; clear: both; }
	
	.bold { font-weight: bold; }
	
	.hidden { display: none; }
	
	.rightside { position: absolute; left: 150px; }
	
	input, select, button { padding: 5px; }
	label { line-height: 36px; }
	
	.borderedbox { border: 1px solid #ccc; padding: 20px; }
	.topbottomborderedbox { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 20px 0px; }
	
	/* width of actual content is 960px, container is 1000px to enable for fitting in the 1000px width background */
	#container { position: relative; width: 1000px; margin: 0px auto; margin-top: 15px; } /* overflow: auto? */
	#container { background: #eee; border-top: 1px solid #fff; border-bottom: 1px solid #000; box-shadow: 0px 0px 20px rgba(0, 0, 0, 1); }
	
	#footer { position: relative; width: 980px; margin: 0px auto; padding: 10px; background: #444; color: #888; font-size: 10px; text-align: right; }
	
	
	/*
    /----------------------------------------------------
    / Navigation and content
    / Z-index 10 to always keep the navigation and ajax notifications above the content
    /----------------------------------------------------
    */
	#navigationandstatus { position: relative; width: 1000px; height: 70px; background: #fff; z-index: 10; }
	
	    #wi3logo { position: absolute; left: 20px; top: 13px; background: url("../images/wi3_logo_blue on white_60x42.png") no-repeat; width: 60px; height: 42px; text-align: right; color: #fff; padding-right: 80px; padding-top: 10px; }
	
	    #navigation { position: absolute; width: 650px; left: 100px; z-index: 10; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8); }
	    #navigation li { display: block; float: left; background: #fff; margin-right: 10px; height: 19px; line-height: 20px; }
	    #navigation a { color: #555; border: none; text-decoration: none; font-size: 18px; padding: 26px; display: block; }
	    #navigation li a.active { background: #eee; color: #1891ff; }
	
	    #status { position: absolute; right: 30px; top: 27px; color: #999; width: 350px; text-align: right; }
	    #status li { float: right; }
	    #status a { color: #1891ff; border: none; text-decoration: none; }
	
            /* wi3 ajax indicator */
            #wi3_ajax_menu { display: inline; position: relative; }
            #wi3_ajax_menu #wi3_ajax_indicator { display: inline; background: url(../images/ajax-loader.png) no-repeat; padding-left: 20px; border-right: 2px solid #aaa; margin-right: 10px; padding-right: 10px;}
            #wi3_ajax_menu #wi3_ajax_indicator.working { background: url(../images/ajax-loader.gif) no-repeat; }
	        #wi3_ajax_menu #wi3_notification_top, #wi3_ajax_menu #wi3_notification_bottom { position: absolute; left: 0px; display: none; background: #fff; border: 2px solid #22242B; border-top: none; top: 44px; width: 160px; padding: 20px; height: 40px; text-align: center; color: #1891FF; }
	
	#content { width: 960px; padding: 20px; background: #eee; }
	    #content h1 { color: #1891ff; }
	    #content h1, #content h2, #content h3 { text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8); }
		#copyright { font-size: 10px; color: #aaa; margin-top: 15px; }
		
	/*
	/----------------------------------------------------
	/ Page specific elements
	/----------------------------------------------------
	*/
	#topdefinition { display: block; background: #fff; margin: 5px; margin-top: 20px; margin-bottom: 20px; padding: 20px; font-size: 23px; vertical-align: top; }
		#topdefinition img { float: left; margin-right: 20px; }
		#topdefinition p { margin-top: 3px; padding-bottom: 0px; }
		
	#targetgroups { display: block; }
	    .targetgroup { display: inline-block; width: 256px; margin: 20px; background: #ddd; padding: 10px; color: #000; vertical-align: top; }
	        .targetgroup h2 { background: #ccc; font-size: 22px; color: #fff; text-shadow : 1px 1px 0px rgba(0, 0, 0, 0.2) !important; padding: 10px; margin: -10px; margin-bottom: 10px; }
		
		
