php_flag safe_mode off
php_flag safe_mode_gid off

#geen index van alle bestanden weergeven
Options -Indexes

# If an image does not exist at a certain resolution, redirect to create it
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} \.(png|jpg|jpeg|gif|bmp)$ [NC]
RewriteRule (.*) resizeimages.php/$1/
