# Turn on URL rewriting
RewriteEngine On

# Prevent indexing and direct access to existing php files
Options -Indexes
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_URI} \.php$
RewriteRule .* - [F,L]

# Installation directory
# RewriteBase /

# Caching
<ifModule mod_headers>
    # Cache for a week
    # TODO: The URL to these files will change when a new version is available, so that the cache is never 'invalid'
    <FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|swf)$">
        Header Set Cache-Control "max-age=604800, private"
    </FilesMatch>
</ifModule>

# Protect hidden and .php files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Protect application and system files from being viewed
RewriteRule ^(?:application|modules|system)\b.* index.php/$0 [L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT]
