# Turn on URL rewriting
RewriteEngine On

# PHP Upload settings
php_value upload_max_filesize 50M
php_value post_max_size 50M
php_value memory_limit 500M

# Prevent indexing and direct access to existing php files
Options -Indexes
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_URI} \.php$
RewriteRule .* - [F,L]

# Caching
<ifModule mod_headers>
    # Cache for a week
    # TODO: The URL to these files will change when a new version is available, so that the cache is never 'invalid'
    <FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|swf)$">
        Header Set Cache-Control "max-age=604800, private"
    </FilesMatch>
</ifModule>

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Protect application files from being viewed, in the main folder or any subfolder (e.g. pagefillers/components/plugins/templates)
RewriteRule ^latest\/(?:(.+\/)*)(?:acl|cache|classes|config|i18n|logs|messages|views)\b.* - [F,L]

# Allow any files that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT]
